*~
*.elc

.cask/
auto-save-list/
ac-comphist.dat

init.el
init.html
init.pdf
init.tex

calfw-conf.el

projectile-bookmarks.eld

tramp

url/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashesb
/home/.emacs.d/eshell/history
/home/.emacs.d/eshell/lastdir
ltxpng/
/home/.emacs.d/.org-id-locations
/home/.emacs.d/abbrev_defs
/home/.emacs.d/bookmarks
/home/.emacs.d/ido.last
/home/.emacs.d/network-security.data
/home/.emacs.d/recentf
/home/.emacs.d/smex-items
/home/.emacs.d/srecode-map.el
/home/.emacs.d/calc.el
/home/.emacs.d/elpa/
/home/.emacs.d/image-dired/
/home/.emacs.d/oauth2.plstore
/home/.emacs.d/magithub/