*~
*.elc

.cask/
auto-save-list/
ac-comphist.dat

init.el
init.html
init.pdf
init.tex

calfw-conf.el

projectile-bookmarks.eld

tramp

url/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashesb
/home/.emacs.d/eshell/history
/home/.emacs.d/eshell/lastdir
ltxpng/
